/*!
 * main.css
 * 重要注释
 */
@charset "utf-8";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
$bg-color: #00BCD4;
// *base css/
@mixin margin($dir:left, $num:10) {
	margin-#{$dir}:$num+px;
}
//* 导航栏 */
header {
	padding-top: 10px;
	color: white;
	// background: rgba(0,0,0,0.7);
	background: $bg-color;
	position: fixed;
	width: 100%;
	a{
		color: rgba(255, 255, 255, 0.7);
		&:hover,.active,&:visited{
			text-decoration: none;
			color: white;
		}
	}

	.logo{
		margin-left: 15px;
		font-size: 2.7em;
		a{
			color: white;
		}
	}

	.actions{
		float: right;
		padding-bottom: 100px;
		@include margin(right);
		.fa{
			@include margin(right);
		}
		a.first{
			@include margin(right,15);
		}
		a.btn{
			background: #008fa1;
			color: #fff;
			padding: 8px 15px;
			border-radius: 2px;
			box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
			text-transform: uppercase;
			&:hover{
				background: #00a5bb;
				color: white;
			}
		}
	}

	.intro{
		background: #00a5bb;
		padding-bottom: 30px;
		img{
			margin: 0 auto;
			display: block;
			margin-top: -50px;
			@include margin(bottom,30);
			border-radius: 50%;
			border: 2px solid white;
			outline:none;
		}
		h1{
			font-size: 48px;
		}
		.title{
			font-size: 25px;
			font-weight: 300;
			padding-top: 10px;
			color: rgba(255, 255, 255, 0.8);
			margin-bottom: 30px;
		}
		.brief{
			width: 800px;
			margin: 0 auto;
			font-size: 19px;
			text-align: center;
		}
	}

	.contact-info{
		padding: 30px 0;
		background: #008fa1;
		font-size: 17px;
		a:hover{
			text-decoration: underline;
		}
		ul{
			margin-bottom: 0px;
		}
		li{
			padding: 0 20px;
			i{
				padding-right: 10px;
			}
		}
	}
	nav{
		line-height: 4em;
		font-size: 1.2em;
		background: #007888;
		ul{
			margin: 0;
			li{
				padding: 0 30px 0!important;
			}
		}
	}

}
#content{

	width: 100%;
}
