/*!
 * main.css
 * 重要注释
 */
@charset "utf-8";
// color variable
$t-cl: #00BCD4;
$bg-cl: #e8e9e9;
$ahover-cl:#00a5bb;
$area-cl:#5686D6;


// mixin method
@mixin margin($dir:left, $num:	10) {
	margin-#{$dir}:$num+px;
}
@mixin triHor($dir:left, $tran:5, $len:5, $cl:black, $dis:0) {
	content: '';
	border-top: $tran+px solid transparent;/*方框上部分背景颜色为透明*/
	border-bottom: $tran+px solid transparent;/*方框下部分背景为透明*/
	border-#{$dir}: $len+px solid $cl;/*箭头背景颜色*/
	position: absolute;/*绝对定位1*/
	top: $dis+px;/*距离顶部位置偏移量2*/
	@if $dir == left {
		right: -$len+px;/*距离左边位置偏移量3*/ /*123都是控制显示位置的*/
	}@else{
		left: -$len+px;
	}
}
@mixin triVer($dir:top, $tran:5, $len:5, $cl:black, $dis:0) {
	content: '';
	border-left: $tran+px solid transparent;/*方框上部分背景颜色为透明*/
	border-right: $tran+px solid transparent;/*方框下部分背景为透明*/
	border-#{$dir}: $len+px solid $cl;/*箭头背景颜色*/
	position: absolute;/*绝对定位1*/
	left: $dis+px;/*距离顶部位置偏移量2*/
	@if $dir == top {
		bottom: -$len+px;/*距离左边位置偏移量3*/ /*123都是控制显示位置的*/
	}@else{
		top: -$len+px;
	}
}

// *base css/
.container{
	max-width: 1080px;
}
html body{

	background: $bg-cl;
}
// * contact msg
// 	 css 动画 */
@keyframes bounceInDown
{
0%   {top:3px;}
25%  {top:-20px;}
50%  {top:-30px;}
51%  {top:40px;}
75%  {top:20px;}
100% {top:3px;}
}
//* 头部 */
header {
	padding-top: 10px;
	color: white;
	background: $t-cl;
	width: 100%;
	a{
		color: white;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
		color: rgba(255, 255, 255, 0.6);
		&:hover,&:active,&:focus,&:visited,.active{
			text-decoration: none;
			color: white;
		}
	}

	// 头部下载简历区
	@at-root .top-actions{
		float: right;
		padding-bottom: 125px;
		padding-top: 10px;
		@include margin(right);
		.fa{
			@include margin(right);
		}
		a.first{
			@include margin(right,15);
		}
		a.btn{
			background: #008fa1;
			color: #fff;
			padding: 8px 15px;
			border-radius: 2px;
			box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
			text-transform: uppercase;
			&:hover{
				background: $ahover-cl;
				color: white;
			}
		}
	}
	// 简单介绍
	@at-root .intro{
		background: $ahover-cl;
		padding-bottom: 10px;
		position: relative;
		padding-top: 90px;
		img{
			left: 50%\9;
			position: absolute;
			top: -80px;
			margin-left: -80px;
			width: 160px;
			height: 160px;
			border-radius: 50%;
			border: 4px solid white;
			outline:none;

			border: 0px\9;
			padding: 4px\9;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/circle.png',sizingMethod='scale');
		}
		h1{
			font-size: 48px;
		}
		.brief{
			font-size: 25px;
			font-weight: 300;
			padding: 18px 0;
			color: white;
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
			color: rgba(255, 255, 255, 0.8);
		}
		.apply-job{
			font-size: 18px;
			color: white;
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
			color: rgba(255, 255, 255, 0.8);
		}

		.email{
			font-size: 16px;
			padding: 20px 0;
			i{
				padding-right: 8px;
			}
		}
	}

	@at-root nav{
		line-height: 4em;
		font-size: 1em;
		background: #007888;
		box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
		z-index: 1000;
		ul{
			margin: 0;
			li{
				padding: 0 30px 0!important;
			}
		}
	}
	// * nav fadeout
	// 	 css 动画 */
	@keyframes navFadeout
	{
		from { top: -70px; }
	    to { top: 0px; }
	}
	.navFixed{
		position: fixed;
		top: 0px;
		left: 0;
		width: 100%;
		z-index: 100;
		animation: navFadeout 0.8s;
		animation-timing-function: linear;
		animation-iteration-count:1;
	}
}

#content{
	width: 100%;
	color: #13464f;
	// 关于我
	.about-me{
		@at-root .about{
			position: relative;
			font-size: 17px;
			padding: 10px 20px;
			width: 70%;
			margin: 30px auto 0px;
			p{
				line-height: 2.5em;
			}
			&:before,&:after{
				position: absolute;
			    width: 50px;
			    height: 50px;
			    content: "";
			}
			&:before{
				top: 0;
    			left: 0;
				border-top: 2px solid $area-cl;
    			border-left: 2px solid $area-cl;
			}
			&:after{
				bottom: 0;
    			right: 0;
				border-bottom: 2px solid $area-cl;
    			border-right: 2px solid $area-cl;
			}
		}
		@at-root .simple-contact{
			font-size: 18px;
			overflow: hidden;
			li{
				position: relative;
				margin: 40px 17px 0;
				a{
					padding-left: 22px;
				}
			}
			li:hover > i{
				animation: bounceInDown 0.8s;
				animation-timing-function: ease-in;
				animation-iteration-count:1;
			}
			i{
				position: absolute;
				left: 0px;
				top: 3px;
			}
		}
	}

	.c-box{
		padding: 50px;
		border-bottom: 1px solid #9da1a2;
		.text-box{
			display: inline-block;
		}
	}
	// 经验
	.exp{
		.timeline{
			border-left: 3px solid $t-cl;
			width: auto;
		    position: relative;
		    padding: 0 35px;
			margin-left: 200px;
			margin-top: 30px;
			@at-root .item{
				position: relative;
				padding-bottom: 40px;
				&:before,&:after{
					content: "";
					position: absolute;
					display: inline-block;
					background-clip: padding-box;
					border-radius: 50%;
				}
				&:before{
					left: -47px;
					top: 0;
					width: 22px;
					height: 22px;
					background: $bg-cl;
					border: 3px solid $t-cl;
				}
				&:after {
					left: -41px;
					top: 6px;
					width: 10px;
					height: 10px;
					background: $t-cl;
					z-index: 10;
				}
				.time{
					position: absolute;
					left: -220px;
					top: 0px;
					font-size: 20px;
    				background: $t-cl;
					color: white;
					width: 150px;
					border-radius: 4px;
					&:before{
						@include triHor(left, 5, 10, $t-cl, 8);
					}
				}
				@at-root .job-meta{
					padding-bottom: 10px;
					.title{
						font-weight: bold;
						font-size: 21px;
					}
					.office{
						position: absolute;
						right: 20px;
						top: 8px;
						i{
							padding-right: 5px;
						}
					}
				}
				@at-root .job-desx{
				}
			}
		}
	}
	//技能
	.skill{
		#charts > div{
			z-index: 1;
		}
		.o-title{
			padding-bottom: 15px;
		}
		.skill-tag{
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    padding: 6px 30px;
		    display: inline-block;
		    margin-right: 15px;
		    border: 1px solid #e2e2e2;
		    margin-bottom: 20px;
		    font-size: 16px;
			background: #eee;
		}
	}
	// 联系方式
	.contact{
		border-bottom: 0px;
        @at-root .contact-box{
            display: flex;
			.title{
				padding-bottom: 0.8em;
			}
			.send-to,.contact-msg{
				position: relative;
				float: left\9;
				width: 50%\9;
				flex: 1;
			}
			$pad-width: 80px;
			.send-to{
				padding-right: $pad-width;
				input,textarea{
					resize: vertical;
				}
				.btn{
					background-color: $ahover-cl;
					&:hover,&:active{
						background-color: #057281;
					}
				}
				.or-flag{
					position: absolute;
					right: -25px;
					top: 43%;
					width: 50px;
					height: 50px;
					text-align: center;
					color: white;
					line-height: 1.1;
					font-size: 42px;
					border-radius: 50%;
					background: black;
					filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
					background: rgba(0,0,0,.25);
				}
			}
			.contact-msg{
				padding-left: $pad-width;
				.msg-box{
					padding-bottom: 1.8em;
				}
			}
        }
	}
}

// * social icons
// 	 css 动画 */
@keyframes rotateChange
{
	from { transform: rotateY(90deg) scale(0.5); }
    to { transform: rotateY(0); }
}

footer{
	padding: 0 0 10px;
	background-color: #2c3d52;
	color: white;
	text-align: center;
	overflow: hidden;
	@at-root .social{
		font-size: 2.3em;
			a,a:hover,a:active,a:visited{
			color: white;
			text-decoration: none;
		}
		.social-icon{
			&:hover > i{
				animation: rotateChange 0.5s;
				animation-timing-function: linear;
				animation-iteration-count:1;
			}
			margin: 0px 8px;
			line-height: 2em;
		}
	}
}
